*, *::before, *::after {box-sizing: border-box;}

html,
body {
    margin: 0;
    padding: 0;
}

/* header */

header {
    display: grid;
    grid-template-columns: min-content max-content 1fr;
    grid-template-rows: 60px;
    grid-template-areas: 
        '. icon header nav .';
    column-gap: 1em;
    color: #0E0E0E;
}

.icon {
    grid-area: icon;
}

.icon-text {
    grid-area: header;
    font-weight: 900;
    margin-left: -0.8em;
}

.icon,
.icon-text,
nav {
    align-self: center;
}

nav {
    grid-area: nav;
}

ul {
    list-style: none;
    justify-content: end;
    display: flex;
    gap: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}

/* end header */

/* main */

main {
    display: grid;
    grid-template-rows: 300px 1fr 1fr;
    column-gap: 1em;
    grid-template-areas: 
        'hero hero hero'
        '. blog-img .'
        '. blog-text .';
}

.hero-img {
    grid-area: hero;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -360px;
    transform: scaleX(-1);
}

.date,
.hero-title,
.hero-intro {
    grid-area: hero;
    color: white;
    z-index: 0;
    align-self: end;
}

