*, *::before, *::after {box-sizing: border-box;}

html,
body {
    margin: 0;
    padding: 0;
}

/* header */

header {
    background-color: darkred;
    display: grid;
    grid-template-columns: min-content max-content 1fr;
    grid-template-rows: 60px;
    grid-template-areas: 
        '. icon header nav .';
    column-gap: 1em;
    color: #0E0E0E;
    background-color: white;
}

.icon {
    grid-area: icon;
}

.icon-text {
    grid-area: header;
    font-weight: 900;
    margin-left: -0.8em;
}

.icon,
.icon-text,
nav {
    align-self: center;
}



nav {
    grid-area: nav;
}

ul {
    list-style: none;
    justify-content: end;
    display: flex;
    gap: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}

/* end header */

/* hero */

